<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!--  <router-outlet></router-outlet> -->

<!-- hello -->
<h3 style="margin-left:10px">Score Panel</h3> 
<br>
<button class="btn btn-primary" (click)="enableUpdateScore=true" style="margin-left:10px"> Edit Score <i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button>
<br>
<br>


<p style="margin-left:10px" *ngIf="!enableUpdateScore">Team Red : <b>{{getScore.red}}</b> Team Green : <b>{{getScore.green}}</b>  Team Blue : <b>{{getScore.blue}}</b> Team Yellow : <b>{{getScore.yellow}}</b></p>


<div  style="margin-left:10px" *ngIf="enableUpdateScore">

  <form>
    <div  class="row">
      <div class="col">
        <label for="red">Team Red</label>
        <input type="Number" id="red" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="getScore.red">
      </div>
      <div class="col">
        <label for="red">Team Green</label>
        <input type="Number" id="green" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="getScore.green">
      </div>
      <div class="col">
        <label for="red">Team Blue</label>
        <input type="Number" id="blue" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="getScore.blue">
      </div>
      <div class="col">
        <label for="red">Team yellow</label>
        <input type="Number" id="yellow" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="getScore.yellow">  
      </div>
      <div class="col">
        <button type="button" class="btn btn-warning" style="margin-top: 30px;" *ngIf="enableUpdateScore" (click)="scoreUpdate()">Update Score</button>
      </div>
    </div>
  </form>
 
</div> 
<br>

<br>
<br>

<!-- Button trigger modal -->
<h3 style="position: absolute;margin-left: 1%;">Event Panel</h3>
<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal" style="float: right;margin-right: 1%; margin-bottom: 1%;">
  Add New Event
</button>

<!-- Modal for New event -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Event Name</label>
            <input type="text" [(ngModel)]="eventName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Event Category</label>
            <input type="text" [(ngModel)]="eventCategory" class="form-control" id="exampleInputPassword1" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Event Time</label>
            <input type="text" [(ngModel)]="eventTime" class="form-control" id="exampleInputPassword2" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword3">Event Winner</label>
            <input type="text" [(ngModel)]="eventWinner" class="form-control" id="exampleInputPassword3" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
         
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addEventFuntion(eventName,eventCategory,eventTime,eventWinner)" data-dismiss="modal">Add Event</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for update Event -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Event Name</label>
            <input type="text" [(ngModel)]="updateData.eventName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Event Category</label>
            <input type="text" [(ngModel)]="updateData.eventCategory" class="form-control" id="exampleInputPassword1" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Event Time</label>
            <input type="text" [(ngModel)]="updateData.eventTime" class="form-control" id="exampleInputPassword2" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword3">Event Winner</label>
            <input type="text" [(ngModel)]="updateData.eventWinner" class="form-control" id="exampleInputPassword3" placeholder="Password" [ngModelOptions]="{standalone: true}">
          </div>
         
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateEventFuntion(updateData)" data-dismiss="modal">Update Event</button>
      </div>
    </div>
  </div>
</div>

<!-- {{getEvent}} -->


<div class="table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">eventName</th>
        <th scope="col">eventCategory</th>
        <th scope="col">eventTime</th>
        <th scope="col">eventWinner</th>
  
        <!-- <th scope="col">ShopName</th> -->
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getEvent; let i = index">
        <td>{{item.eventName}}</td>
        <td>{{item.eventCategory}}</td>
        <td>{{item.eventTime }}</td>
        <td>{{item.eventWinner}}</td>
        <!-- <td>{{item.shopName}}</td> -->
        <td><button type="button" (click)="updateData=item" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
        <td><button type="button" (click)="deleteEvent(item._id)" class="btn btn-danger"><i class="fa fa-close" aria-hidden="true"></i></button></td>
  
      </tr>
      
    </tbody>
  </table>  
  </div>